.banner {
  max-width: 100%;
  height: auto;
  background-image: url("images/banner.jpg");
  background-position: center top;
  background-repeat: repeat;
}

h1 {
  text-align: center;
  font-family: helvetica;
}

h3 {
  text-align: center;
  font-family: helvetica;
}

table {
  margin-left: auto;
  margin-right: auto;
  padding: 4%;
}

.table_list {
  width: 80%;
}

form {
  color: black;
  text-align: center;
  font-family: helvetica;

}

input {
  width: 100%;
}

input[type="text"] {
  margin-bottom: 4%;
  padding: 1.5%;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  border-radius: 2%;
}

input[type="date"] {
  margin-bottom: 4%;
  padding: 1.5%;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  border-radius: 2%;
}

input[type="email"] {
  margin-bottom: 4%;
  padding: 1.5%;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  border-radius: 2%;
}

input[type="password"] {
  margin-bottom: 4%;
  padding: 1.5%;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  border-radius: 2%;
}

input[type="radio"] {
  width: auto;
}

input[type="submit"] {
  margin-top: 3%;
  color: black;
  border: 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  width: 85%;
}

input[type="submit"]:hover {
   box-shadow: 0 5px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}

input[type="submit"]:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.sign_up {
  padding: 1% 2%;
  margin: 2.5% 2%;
}

.fName {
  width: 45%;
  float: left;
  margin-right: 10%;
  text-align: left;
}

.lName {
  width: 45%;
  float: left;
  text-align: left;
}

footer {
  text-align: center;
}